# Created by .ignore support plugin (hsz.mobi)
logs
*.log
npm-debug.log*
bower_components
.lock-wscript
build/Release
node_modules/
public/bundle.js
jspm_packages/
typings/
.npm
.eslintcache
.node_repl_history
db.js
__pycache__
config.py
.DS_Store
data/
pythons/tmp/model*
pythons/tmp/checkpoint
pythons/tmp/mnist*
pythons/tmp/web_canvas*
pythons/tmp*
pythons/fully_trained*
