* {
    box-sizing: border-box;;
}

html {
    font-family: Helvetica Neue, Helvetica, sans-serif;
}

body {
    background-color: skyblue;
}

.net-statistics-wrapper {
  background-color: #ffffff;
  width: 500px;
  height: 250px;
  color: orange;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.net-statistics {
  background-color: blue;
  width: 200px;
  height: 200px;
}

.one-hot-result-container {
  background-color: green;
  width: 180px;
  height: 150px;
}
